<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Shit Official Website</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/501b7edb8e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="ElwDFQcUcAA3H9H.jpg" alt="Login">
        <h1>Inicia sesion en la GS</h1>
        <form>
            <div class="steam">
                <label for="username">Usuario GANG SHIT</label><i class="fas fa-gamepad"></i>
            </div>
            <!-- USERNAME -->
            <input type="text" placeholder="Nombre en la GANG SHIT">

            <div class="candado">
                <label for="password">Contraseña GANG SHIT</label><i class="fas fa-key"></i>
            </div>
        
            <!-- Password -->
            <input type="password" placeholder="Contraseña">
            <input type="submit" value="Inicia si tienes el AIM">

            <a href="#">Perdiste el aim?</a><br>
            <a href="/register">Quieres unirte a la GANG SHIT?</a>

        </form> 
    </div>
</body>
</html>