<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=4.0">
    <title>Registro en la Gang Shit</title>
    <link rel="stylesheet" href="styleregistro2.css">
    <script src="https://kit.fontawesome.com/501b7edb8e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
</head>
<body>
    <div class="register">
        <h1>Registrate para ser parte de la GANG SHIT!</h1><br>
        <form>
            <div class="nombre">
                <!-- NAME -->
                <br><label for="name">Nombre</label>
                <input type="text" placeholder="Ingrese su nombre"><br>
                <br><label for="username">Apellido</label>
                <input type="text" placeholder="Ingrese su apellido"><p>
            </div>

            <div class="usuario">
                <!-- USERNAME -->
                </p><br><label for="username">Cree un nombre de usuario</label><i class="fas fa-user"></i>
                <input type="text" placeholder="Ingrese un nombre de usuario"><br>Tiene que estar disponible su nombre de usuario.<p>
            </div>

            <div class="cumpleaños">
                <!-- BIRTHDAY -->
                </p><br><label for="birthday">Ingrese su fecha de nacimiento</label><i class="fas fa-calendar-alt"></i>
                <input type="text" placeholder="dd/mm/yyyy"><p>
            </div>

            <div class="correo">
                <!-- MAIL -->
                </p><br><label for="mail">Correo electronico</label><i class="fas fa-envelope"></i>
                <input type="text" placeholder="Ingrese su correo electronico"><br>Ingrese un correo electronico valido.<p>

            <div class="contraseña">
                <!-- PASSWORD -->
                </p><br><label for="password">Contraseña</label><i class="fas fa-lock"></i>
                <input type="password" placeholder="Cree su contraseña"><br>Minimo 8 caracteres que incluyan numeros y letras.<p>
            </div>

            <div class="genero">
                <!-- GENDER -->
                <label for="gender">Indique su genero</label><br>
                <input type="checkbox" id="cbox1" value="first_checkbox"><label for cbox1>Masculino</label><p><i class="fas fa-male"></i></p><p>  
                </p><input type="checkbox" id="cbox2" value="second_checkbox"> <label for cbox2>Femenino</label><i class="fas fa-female"></i><p><br>
            </div>

            <br><input type="submit" value="Regristame en la GS!"><p>
            </p><label><input type="checkbox" id="cbox1" value="first_checkbox"><a href="#">He leido los terminos de condiciones y se lo que con lleva ser de la gang.</a><i class="fab fa-accessible-icon"></i></label><br>
            <label><input type="checkbox" id="cbox1" value="first_checkbox">Se lo dificil que es el AIM y lo entrenare a diario.<i class="fas fa-crosshairs"></i></label><br>
        </form> 
    </div>
</body>
</html>